.button {
    padding: var(--spacing-lg);
    color: var(--link-text);
    border: none;
    font-size: var(--font-size-md);
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: var(--second-bg);
}

.button.ghost {
    border: none;
    background-color: transparent;
}

.button.secondary {
    border: 1px solid var(--border-color);
}

.button.active {
    background-color: var(--main-active-color);
    border: none;
    color: var(--white);
}

.button.active:hover {
    background-color: var(--main-active-color-hover);
    border: none;
    color: var(--white);
}

.button.danger {
    background-color: var(--error-text-color);
    border: none;
    color: var(--white);
}

.button.danger:hover {
    background-color: var(--error-bg-hover);
    border: none;
    color: var(--white);
}

.button.lg {
    padding: var(--spacing-lg);
    font-size: var(--font-size-lg);
}

.button.md {
    padding: var(--spacing-md);
    font-size: var(--font-size-md);
}

.button.sm {
    padding: var(--spacing-sm);
    font-size: var(--font-size-sm);
}

/* Disabled states */
.button:disabled {
    cursor: not-allowed;
    background-color: var(--second-bg);
    color: var(--disabled-text-color);
}

.button.ghost:disabled {
    background-color: transparent;
    color: var(--disabled-text-color);
}

.button.secondary:disabled {
    background-color: var(--second-bg);
    border: 1px solid var(--border-color);
    color: var(--disabled-text-color);
}

.button.active:disabled {
    background-color: var(--main-active-color);
    color: var(--white);
    opacity: 0.6;
}

.button.danger:disabled {
    background-color: var(--error-text-color);
    color: var(--white);
    opacity: 0.6;
}