.dropdown {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    right: 0;
    top: 63px;
    width: calc(100% - var(--border-width) - var(--border-width));
    background-color: var(--main-bg);
    border: 1px solid var(--border-color);
    z-index: var(--z-index-dropdown);
    max-height: 300px;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.menuItem {
    width: 100%;
}

.option {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.field {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    align-items: center;
    padding: var(--spacing-lg);
    border: 1px solid var(--border-color);
    cursor: text;
}

.openedField {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.chip {
}

.inputInline {
    border: 0;
    outline: none;
    flex: 1;
    min-width: 80px;
    font-size: var(--font-size-md);
    background: transparent;
}
