.chip {
    padding: 0 var(--spacing-md) 0 var(--spacing-lg);
    color: var(--main-text-color);
    border: none;
    font-size: var(--font-size-md);
    background-color: var(--second-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-md);
    cursor: pointer;
}
