.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--spacing-xl) 0;
    gap: var(--spacing-sm);
}

.icon {
    width: 48px;
    height: 48px;
    color: var(--disabled-text-color);
}

.icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

.title {
    margin: 0;
    color: var(--main-text-color);
}

.content {
    color: var(--disabled-text-color);
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


