@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

body {
    background-color: var(--main-bg);
    color: var(--main-text-color);
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

* {
    border-radius: 4px;
}

* {
  user-select: none;
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
    margin: 0;
    margin-bottom: var(--spacing-md);
    font-weight: 500;
}
